@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&display=swap');
:root{
    --primary-color:#e0fbfc;
    --secondary-color:#293241;
    --secondary-color2:#8ecae6;
    --secondary-color3:#e9c46a;
}

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

#root,.note-app{
    height: 100%;
}

.note-header{
    background-color: var(--secondary-color);
    color: white;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
    align-self: center;
    padding: 2vh 10vh;
    height: 10%;
}

.note-header__copyright{
    align-self: center;
    flex-grow: 1;
    text-align:right;
}

.note-header__logo{
    align-self: center;
    flex-grow: 1;
    text-align:left;
}

.note-search{
    align-self: center;
    flex-grow: 7;
}

.note-search input{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.note-content{
    display: flex;
    height: 90%;
}

.note-sidebar{
    background-color: var(--primary-color);
    height: 100%;
    padding: 5vh;
    text-align:center;
}

.flex-left{
    flex: 20%;
}

.flex-right{
    flex:80%;
    overflow-y: auto;
}

.note-sidebar h4 {
    margin-bottom: 3vh;
}

.note-app__add-action{
    width: 100%;
    padding: 1vh 3vh;
    margin-bottom: 3vh;
    background-color: transparent;
    border: solid 1px var(--secondary-color);
    font-weight: 700;
    font-size: 1rem;
    cursor:pointer
}

.note-app__add-action:hover{
    background-color: var(--secondary-color);
    color: white;
}

.note-list{
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    justify-content: space-between;
    margin: 5vh 7vh;
    gap: 15px;
    height: 75%;
    /* align-self: stretch; */
}

.note-list__empty {
    text-align: center;
    color: #aaa;
    margin-top: 25vh;
    font-size: 2rem;
  }
  

.note-item{
    padding: 2vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 0px;
    border-radius: 8px;
    align-self: start;
}

.note-item__content{
    padding: 10px;
}

.note-item__title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 4px;
  }

.note-item__date {
    font-size: 0.8rem;
    margin-bottom: 8px;
    color: #aaa;
  }
  
  .note-item__body {
    font-size: 1rem;
  }

  .note-item__action{
    display: flex;
  }

  .note-item__delete-button,.note-item__archive-button {
    display: block;
    width: 100%;
    background-color: transparent;
    border: 0;
    border: 1px solid #aaa;
    padding: 8px 0;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    cursor: pointer;
  }

  .note-item_add-button{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    text-align: right;
    width: 100%;
    /* height: 100vh; */
    padding: 1vh 3vh;
    align-items: flex-end;
  }

  .note-item_add-button button{
    border-radius: 50%;
    padding: 7px 18px;
    background-color: var(--secondary-color);
    border:3px solid var(--secondary-color);
    color: white;
    font-size: 2.5rem;
    cursor:pointer;
    font-weight: 700;
  }

  .note-item_add-button button:hover{
    background-color: transparent;
    color: var(--secondary-color);
  }

  .hide{
    display: none;
  }